body {
    background-color: rgb(255, 255, 255)
}

.container {
    background-color: rgb(238, 82, 82);
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}